@media (max-width: 800px) {
    .about {
        h1 {
            width: 100%;
            margin-left: 0;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }
        p {
            width: calc(100vw / 1.2);
            margin-right: 0;
            margin-left: var(--margen-movil);
            margin-right: var(--margen-movil);
            align-self: flex-start;
        }
        .p1 {
            align-self: center;

        } 
        .p2 {
            align-self: center;
        }
    }
}