.about {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .close_button_about {
        position: fixed;
        right: var(--margen);
        top: var(--margen);
    }
    p {
        width: calc(100vw / 2);
        font-size: clamp(1rem, 0.7613rem + 1.0323vw, 2rem);
        font-family: 'PlayfairRegular';
        line-height: normal;
        color: var(--texto-secundario);
        margin-top: 20vh;
        margin-bottom: 20vh;
        margin-right: calc(var(--margen)*3);
        margin-left: calc(var(--margen)*3);
    }
    h1 {
        margin-left: var(--margen);
        margin-top: var(--margen);
        font-size: clamp(3.125rem, 1.6331rem + 6.4516vw, 9.375rem);
    }
    .p1 {
        align-self: flex-end ;
    }
    .p2 {
        align-self: flex-start;
    }
    strong {
        color: black;
    }
    span {
        color: var(--texto-secundario);
        font-size: clamp(1.25rem, 0.504rem + 3.2258vw, 4.375rem);
    }
    .about_me {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
    .about_journey {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
    .about_vision {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
}