@media (max-width: 1300px) {
    .about {
        h1 {
            width: 100%;
            margin-left: 0;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }
        p {
            margin-right: 0;
            margin-left: var(--margen-movil);
            margin-right: var(--margen-movil);
            align-self: flex-start;
        }
        .p1 {
            align-self: center;

        } 
        .p2 {
            align-self: center;
            margin-left: var(--margen);
            width: 80%;
        }
    }
}
@media (max-width: 1150px) {
    .about > * {
        h1 {
            margin-bottom: 3rem;
        }
        .p1_img {
            flex-flow: column nowrap;
            .img_content {
                height: 80%;
            }
        }
        .p2 {
            display: none;
        }

    }
}
@media (max-width: 570px) {
    .about > * {
        p {
            width: 85%;
        }
    }
}
@media (max-width: 400px) {
    .about > * {
        h1 {
            text-align: center;
        }
        .p1_img{
            .img_content {
                img {
                    width: 300px;
                }
            }
        }
        p {
            width: 85%;
        }

    }
}