@media (max-width: 1350px) {
    .body {
        .section {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            .section_body{
                order: 1;
                .feature_song {
                    width: fit-content;
                }
            }
            .section_img{
                order: 0;
                .case {
                    h2 {
                        text-align: center;
                    }
                    .disc {
                        width: 350px;
                        height: 350px;
                    }
                }

            }
        }
    }
}
@media (max-width: 630px) {
    .body {
        .section {
            .section_body{
                .feature_song {
                    .song {
                        flex-flow: column nowrap;
                    }
                }
            }
            .section_img{
                .case {
                    .disc {
                        width: 250px;
                        height: 250px;
                    }
                }

            }
        }
    }
}
@media (max-width: 375px) {
    .body {
        .section {
            .section_body{
                .description {
                }
            }
            .section_img {

            }
        }
    }
}