.body {
    margin-top: 5rem;
    box-sizing: border-box;

    .S01 {color: #FFA4C0;}
    .S02 {color: #B89F78;}
    .S03 {color: #26496C;}
    .S04 {color: #21A740;}
    .S05 {color: #9CC72A;}
    .S06 {color: #A58ADD;}
    .S07 {color: #00DFF1;}

    .section {
        height: 100vh;
        display: flex;
        overflow: hidden;
        .section_body {
            flex: 1 1;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;          
            transition: all 1s ease-in-out;
            h1 {
                font-family: 'InterBold';
                font-size: clamp(3.125rem, -0.2287rem + 4.878vw, 5.625rem);
                margin: var(--margen);
                cursor: pointer;
                transition: all 1s ease-in-out;
            }
            .section_text {
                display: none;
                flex: 3;
                width: 100%;
                opacity: 0;
                margin: var(--margen);
                flex-flow: column nowrap;
                justify-content: space-between;
                
                h2 {
                    flex: 1;
                    font-size: clamp(1rem, 0.8806rem + 0.5161vw, 1.5rem);
                    color: black;
                    font-family: 'PlayfairRegular';

                    span {
                        font-family: 'PlayfairSemiBold';
                        color: var(--texto-secundario)
                    }
                }
                p {
                    flex: 3;
                    font-size: clamp(1rem, 0.8806rem + 0.5161vw, 1.5rem);
                    font-family: 'PlayfairRegular';
                    color: black;
                }
            }
            .open {
                display: none;
                position: absolute;
                cursor: pointer;
                bottom: var(--margen);
                right: var(--margen);
            }
            .close {
                display: none;
                position: absolute;
                cursor: pointer;
                bottom: var(--margen);
                left: var(--margen);
                transition: all 1s ease-in-out;
            }


           
        }

        .img01 {
            background-image: url("../img/hero/img01.jpg");
        }
        .img02 {
            background-image: url("../img/hero/img02.jpg");
        }
        .img03 {
            background-image: url("../img/hero/img03.jpg");
        }
        .img04 {
            background-image: url("../img/hero/img04.jpg");
        }
        .img05 {
            background-image: url("../img/hero/img05.jpg");
        }
        .img06 {
            background-image: url("../img/hero/img06.png");
        }
        .img07 {
            background-image: url("../img/hero/img07.jpg");
        }

        .section_img {
            cursor: pointer;
            flex: 1 1;
            transform: translateY(500px);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    }
    .order {
        .section_body {
            order: 1;
            align-items: end;
        }
        .section_img {
            order: 0;
        }
    }
}