body {
  margin: 0;
  font-family: sans-serif;
}

.carousel-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.info-panel {
  width: 50%;
  padding: 4rem;
  box-sizing: border-box;
}

.carousel-container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel-track {
  flex-direction: column;
  gap: 2rem;
}

.slide {
  width: 520px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  background-color: red;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

img {
    width: 520px;
    height: 400px;
}

