@media  (max-width: 1300px) {
    .contact_page {
        height: auto;
        min-height: 100vh;
        max-height: max-content;

        .copyright {
            position: absolute;
            bottom: var(--margen);
            right: var(--margen);
        }
        .Close_button {        
            position: absolute;
            top: var(--margen);
            left: var(--margen);
        }

        .contact_title {
            justify-content: center ;
            h1 {
                display: flex;
                flex-flow: column nowrap;
                text-align: center;
                margin: 0;
                margin-top: 5rem;
            }
        }
        .contact_body {
            flex-flow: column nowrap;
            align-items: center;
            justify-content:space-around;

            .mensage{
                flex: 1;
                margin-top: 8rem;
                margin-left: 0;

                h2 {
                    text-align: center;
                }

                

            }
            .social_media {
                margin-top: 8rem;
                margin-bottom: 10rem;
                margin-left: 0;
                h2 {
                    text-align: center;
                }
                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 2rem;
                }
            }
        }

    }

}

@media (max-width: 1100px) {
    .contact_page{
        .copyright{
            position: relative;
            margin-right: 0;
            text-align: right;
        }
    }
}
@media (max-width: 560px) {
    .contact_page {
        .contact_body {
            .mensage {
                form {
                    grid-template-columns: 1fr;
                }
            }
        }
        .social_media {
            h2 {
                display: none;
            }
            ul {
                display: grid;
                column-gap: 1rem;
                margin: .5rem;
                span {
                    display: none;
                }
                img {
                    margin-right: 0;
                    top: 0;
                }
                :nth-child(1){
                    grid-column: 1/2;
                }   
                :nth-child(2){
                    grid-column: 2/3;
                }   
                :nth-child(3){
                    grid-column: 3/4;
                }   
                :nth-child(4){
                    grid-column: 4/5;
                }   
            }
        }
    }
}

@media (max-height: 820) {
    .contact_page {
       
    }
}