.contact_page {
    position: absolute;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: #006B6B;
    z-index: 999;
    
    display: flex;
    flex-flow: column nowrap;
    
    .contact_title {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        h1 {
            margin-top: var(--margen);
            margin-right: var(--margen);
            font-size: clamp(4.375rem, 3.1815rem + 5.1613vw, 9.375rem);
            color: white;
            span {
                font-size: clamp(3.125rem, 2.6028rem + 2.2581vw, 5.3125rem);
                font-family: 'InterExtralight';
            }
        }
    }

    .contact_body {
        width: 100%;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s ease-in-out;
        h2 {
            color: white;
            font-size: 2rem;
        }
        label  {
            font-size: 1rem;
            color: white;
        }
        a {
            font-size: 1.5rem;
        }

        .mensage {
            flex: 1;
            height: 50%;
            margin-left:calc(var(--margen)*4);
            display: flex;
            flex-flow: column nowrap;
            gap: var(--margen);
            form {
                flex: 2;
                width: 50%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 50px 50px 50px;
                gap: 1rem;
                z-index: 1;
                .grid3 {
                    grid-column: 1/2;
                    margin-top: 1rem;
                }
               
                button {
                    grid-column: 1/2;
                    grid-row: inherit;
                    border: none;
                    outline: none;
                    background: none;
                    box-shadow: none;
                    padding: 0;
                    font-family: 'PlayfairSemiBold';
                    font-size: 1.25rem;
                    color: white;
                    padding-left: 0;
                    text-align: left;
                    margin-top: 4rem;
                }
                /* ANIMACION MENSAGE*/
                /* From Uiverse.io by AbanoubMagdy1 */ 
                .wave-group {
                    position: relative;
                }

                .wave-group .input {
                    font-size: 1rem;
                    font-family: 'PlayfairRegular';
                    padding: 10px 10px 10px 5px;
                    display: block;
                    width: 200px;
                    border: none;
                    border-bottom: 1px solid white;
                    background: transparent;
                    color: white;

                }
                .wave-group .input:focus {
                    outline: none;
                }

                .wave-group .label {
                    color: white;
                    font-size: 1rem;
                    font-family: 'PlayfairRegular';
                    position: absolute;
                    pointer-events: none;
                    left: 5px;
                    top: 10px;
                    display: flex;
                }

                .wave-group .label-char {
                    transition: 0.2s ease all;
                    transition-delay: calc(var(--index) * .05s);
                }

                .wave-group .input:focus ~ label .label-char,
                .wave-group .input:valid ~ label .label-char {
                    transform: translateY(-20px);
                    font-size: 14px;
                    color: var(--texto-secundario);
                }

                .wave-group .bar {
                    position: relative;
                    display: block;
                    width: 100%;
                }

                .wave-group .bar:before,.wave-group .bar:after {
                    content: '';
                    height: 2px;
                    width: 0;
                    bottom: 1px;
                    position: absolute;
                    background: white;
                    transition: 0.2s ease all;
                    -moz-transition: 0.2s ease all;
                    -webkit-transition: 0.2s ease all;
                }

                .wave-group .bar:before {
                    left: 50%;
                }

                .wave-group .bar:after {
                    right: 50%;
                }

                .wave-group .input:focus ~ .bar:before,
                .wave-group .input:focus ~ .bar:after {
                    width: 50%;
                }


                /*------------------*/
            }
            

            
        }
        .social_media {
            flex: 1;
            height: 50%;
            margin-left: var(--margen)*2;
            display: flex;
            flex-flow: column nowrap;
            gap: var(--margen);
            
            ul {
                padding-top: 0;
                line-height: 2rem;
                display: grid;
            }
            .ul_movil {
                display: none;
            }
            img {
                width: 40px;
                height: 40px;
                position: relative;
                top: 12.5px;
                margin-right: 0.9rem;
            }
            a {
                font-family: 'PlayfairSemiBold';
                text-decoration: none;
                color: white;
                font-size: 24px;
            }
        }
    }
    .Close_button {      
        position: absolute;
        top: var(--margen);
        left: var(--margen);
        cursor: pointer;
    }
    .copyright {
        position: absolute;
        color :red;
        bottom: var(--margen);
        right: var(--margen);
    }
}
