.contact_page {
    width: 100vw;
    height: 100vh;
    background-color: #006B6B;
    
    display: flex;
    flex-flow: column nowrap;
    
    .contact_title {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: end;

        h1 {
            margin-top: var(--margen);
            margin-right: var(--margen);
            font-size: clamp(5.3125rem, 4.3427rem + 4.1935vw, 9.375rem);
            color: white;
            span {
                font-size: 85px;
                font-family: 'InterExtralight';
            }
        }
    }

    .contact_body {
        width: 100%;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: white;
            font-size: 2rem;
        }
        label  {
            font-size: 1rem;
            color: white;
        }
        a {
            font-size: 1.5rem;
        }

        .mensage {
            flex: 1;
            height: 50%;
            margin-left:calc(var(--margen)*2);
            display: flex;
            flex-flow: column nowrap;
            gap: var(--margen);
            form {
                flex: 2;
                width: 50%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 50px 100px 50px;
                .grid3 {
                    grid-column: 1/3;
                    align-content: end;
                }
                .grid3 input {
                    width: 100%;
                }
                h2 {
                    font-size: 1rem;
                    font-family: 'PlayfairRegular';
                }
                button {
                    border: none;
                    outline: none;
                    background: none;
                    box-shadow: none;
                    padding: 0;
                    font-family: 'PlayfairSemiBold';
                    font-size: 1.25rem;
                    color: white;
                    padding-left: 0;
                    text-align: left;
                    margin-top: 4rem;
                }

            }
            form input {
                border: none;
                border-bottom: 1px solid white;
                outline: none;
                background: none;
                box-shadow: none;
            }
            
        }
        .social_media {
            flex: 1;
            height: 50%;
            margin-left: var(--margen);
            display: flex;
            flex-flow: column nowrap;
            gap: var(--margen);
            
            ul {
                flex-shrink: 1;
                padding-top: 0;
                line-height: 2rem;
                
            }
            img {
                width: 40px;
                height: 40px;
                position: relative;
                top:12.5px;
                margin-right: 0.9rem;
            }
            a {
                font-family: 'PlayfairSemiBold';
                text-decoration: none;
                color: white;
                font-size: 24px;
            }
        }
    }
    .Close_button {        
        position: absolute;
        top: var(--margen);
        left: var(--margen);
    }
    .copyright {
        position: absolute;
        bottom: var(--margen);
        right: var(--margen);
    }
}