@media  (max-width: 1300px) {
    .contact_page {
        height: auto;
        min-height: 100vh;

        .copyright {
            position: fixed;
            bottom: var(--margen);
            right: var(--margen);
        }
        .Close_button {        
            position: fixed;
            top: var(--margen);
            left: var(--margen);
        }

        .contact_title {
            justify-content: center ;
            h1 {
                display: flex;
                flex-flow: column nowrap;
                text-align: center;
                margin: 0;
                margin-top: 5rem;
            }
        }
        .contact_body {
            flex-flow: column nowrap;
            align-items: center;
            justify-content:space-around;

            .mensage{
                flex: 1;
                margin-top: 8rem;
                margin-left: 0;

                h2 {
                    text-align: center;
                }

                

            }
            .social_media {
                margin-top: 8rem;
                margin-bottom: 10rem;
                margin-left: 0;
                h2 {
                    text-align: center;
                }
                ul {
                    grid-template-columns: 1fr 1fr;
                    column-gap: 2rem;
                }
            }
        }

    }

}

@media (max-width: 1100px) {
    .contact_page{
        .copyright{
            position: relative;
            margin-right: 0;
            text-align: right;
        }
    }
}
@media (max-width: 560px) {
    .contact_page {
        .contact_body {
            .mensage {
                form {
                    grid-template-columns: 1fr;
                }
            }
        }
        .social_media {
            h2 {
                display: none;
            }
            ul {
                
            }
        }
    }
}