@media (max-width: 1020px) {
    .hero {
        max-height: 100vh;
        .header {
            display: flex;
            flex-flow: column nowrap;
            .name {
                order: 1;
                flex: 3;
                margin-top: 79px;
                margin-left: 0;
                align-self: center;
                text-align: left;
            }
            .menu {
                flex: 1;
                order: 0;
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                h2 {
                    font-size: 2rem;
                }
                :nth-child(1) {
                    margin-right: var(--margen-movil);
                    order: 1;
                    text-align: right;
                }
                :nth-child(2) {
                    order: 0;
                    margin-left: var(--margen-movil);
                }
            }
        }
        .proyect {
            flex: 1;
            .title {
                display: none;
            }
            .feature_proyects {
                margin: 0;
                align-items: center;
            }
        }
        .copyright {
            display: none;
        }
    }
}
@media (max-height: 800px){
    .title {
        h2 {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 1730px) {
    .current_album {
        .current_album_img {
            img{
                width: 70%;
            }
            h2 {
                width: 70%;
            }
        }
    }
}
@media (max-width: 1460px) {
    .current_album {
        height: max-content;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        .current_album_text {
            flex-basis: 60vh;
            width: 60%;
        }
        .current_album_img {
            flex:1; 
            width: 60%;
        }
    }
}