@media (max-width: 500px) {
    .hero {
        height: auto;
    }
    .header {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        .name {
            flex: 7 0 300px;
            width: 100%;
            order: 1;
            margin-top: 79px;
            margin-left: var(--margen-movil);
        }
        .menu {
            flex: 1;
            width: 100%;
            order: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            h2 {
                font-size: 2rem;
            }
            :nth-child(1) {
                margin-left: var(--margen-movil);
            }
            :nth-child(2) {
                margin-right: var(--margen-movil);
            }
        }
        .img_marta {
            order: 2;
            display: block;
            flex: 1;
            align-self: center;
        }
        .title_proyect_movil {
            order: 3;
            display: block;
            flex: 1;
            align-self: center;
            margin-top: 5rem;
            h2 {
                color: black;
            }
            img {
                position: relative;
                top: 1rem;
                left: 1.5rem;
            }

        }
    }
    

    .proyect {
        display: none;
    }
}