.hero {
    height: 100vh;
    width: 100vw;
}
.header {
    height: 300px;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .name {
        border: 1px solid blue;
        
    }
    .menu {
        border: 1px solid red;
        margin-right: 0;
    }
}


