@media (max-width: 1000px) {
    .onTour {
        .onTour_title {
            width: 100%;
            margin-left: 0;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 5rem;
                margin-left: 0;
                text-align: center;
            }
            h2 {
                font-size: 2rem;
                text-align: center;
                margin-left:0 ;
                width: 90%;
            }
        }
        .onTour_content {
            .calendar_content{
                display: none;
            }
            .ticket {
                .buy_ticket {
                    width: 70%;
                }
            }
        }
    }
    
}

@media (max-width: 600px) {
    .onTour {
        .onTour_title {
            h2 {
                font-size: 1.5rem;
            }
        }
        .ticket {
            .buy_ticket{
                :nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .onTour {
         .onTour_title {
            h1 {
                font-size: 4rem;
            }
            h2 {
                display: none;
            }
        }
    }
}